{% extends "base.html" %}

{% block title %}
GitMAD
{% endblock %}

{% block content %}
                <article>
                    <header>
                        <h1>Welcome to GitMAD</h1>
                        <p>GitMAD (Git Monitor, Alert, Discover) is a full stack application that monitors Github for a given keyword(s) or domain.  GitMAD searches code hosted on Github for a matching keyword.  On finding a match, GitMAD will clone the repository and search through the files for a series of configurable regular expressions.  GitMAD then takes those results and inserts them into a database for later viewing.  These results can also be sent as email alerts.  GitMAD runs continuously to discover new repositories matching the input keyword.</p>
                    </header>
                    <section>
                        <h2>Input</h2>
                        <p>GitMAD searches Github for a keyword or domain.  The user can also configure the maximum amount of results per search, the amount of time between searches, and the maximum size of a repository to clone.  There are two modes, Monitor and Discovery.  Discovery mode pulls out and searches new results with each run.  Monitor mode will download all matches of a given keyword / domain first, search them, and then continue to search for new results.</p>
                    </section>
                    <section>
                        <h2>Processing</h2>
                        <p>GitMAD takes the results from above and searches the Git history of the repository.  The history is searched for a set of configurable regular expressions.  GitMAD can also break up each line of a history file and search this for matches in Shannon entropy.</p>
                    </section>
                    <footer>
                        <h3>Output</h3>
                        <p>GitMAD takes the results above and inserts them into a database which contains information on the file the match was found, as well as information about the repository.  It also inserts the string that was matched and the line of the match.  These results are available via an email alert, in the database, and via the web application.</p>
                    </footer>
                </article>
{% endblock %}