{% extends "base.html" %}

{% block title %}
GitMAD
{% endblock %}

{% block content %}
    <section>
        <h1>New Results:</h1>
            <article>
                <p>The 500 most recent results.</p>
            <table id="web_monitor">
                <thead>
                <tr>
                {# <th>Match Master ID</th> #}
                {# <th>Match Repo ID</th> #}
                <th>Match Inserted</th>
                <th>Match Type</th>
                <th>Match String</th>
                <th>Match Location</th>
                <th>Match Line</th>
                {# <th>Match Entropy</th> #}
                {# <th>Match Line Hash</th> #}
                {# <th>Match Update Type</th> #}
                {# <th>Match Commit Hash</th> #}
                {# <th>Match Commit Author</th> #}
                {# <th>Match Commit Time</th> #}
                <th>Match Commit Message</th>
                <th>Match Original Query</th>
                </tr>
                </thead>
                {% for result in results %}
                <tr>
                   {# <td>{{ result[0] }}</td> #}
                   {# <td>{{ result[1] }}</td> #}
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4][:64] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                    {# <td>{{ result[7] }}</td> #}
                    {# <td>{{ result[8] }}</td> #}
                    {# <td>{{ result[9] }}</td> #}
                    {# <td>{{ result[10] }}</td> #}
                    {# <td>{{ result[11] }}</td>#}
                    {# <td>{{ result[12] }}</td> #}
                    <td>{{ result[13] }}</td>
                    <td>{{ result[14] }}</td>


                </tr>
                {% endfor %}
            </table>

            </article>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}