{% extends "base.html" %}

{% block title %}
GitMAD
{% endblock %}

{% block content %}
<form method="POST">
    <table id="web_monitor">
        <tr>
            <th>Filter:</th><th></th>
        </tr>
        <tr>
            <td>Number of results:</td>
            <td><input name="num_results" type="number" value="100"></td>
        </tr>
        <tr>
            <td>Repo User:</td>
            {% if p_dict['r_user'] == '%' %}
            <td><input name="repo_user" type="text" value=""></td>
            {% else %}
            <td><input name="repo_user" type="text" value="{{ p_dict['r_user'] }}"></td>
            {% endif %}
        </tr>
        <tr>
            <td>Repo Name:</td>
            {% if p_dict['r_name'] == '%' %}
            <td><input name="repo_name" type="text" value=""></td>
            {% else %}
            <td><input name="repo_name" type="text" value="{{ p_dict['r_name'] }}"></td>
            {% endif %}
        </tr>
        <tr>
            <td>Match Type:</td>
            <td><select name="match_type">
                <option value="Any">Any</option>
                <option value="Query Match">Query Match</option>
                {% for item in select_opt %}
                <option value="{{ item }}" >{{ item }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>In Match String:</td>
            {% if p_dict['m_string'] == '%' %}
            <td><input name="match_string" type="text" value=""></td>
            {% else %}
            <td><input name="match_string" type="text" value="{{ p_dict['m_string'] }}"></td>
            {% endif %}
        </tr>
        <tr>
            <td>In Match Line:</td>
            {% if p_dict['m_line'] == '%' %}
            <td><input name="match_line" type="text" value=""></td>
            {% else %}
            <td><input name="match_line" type="text" value="{{ p_dict['m_line'] }}"></td>
            {% endif %}
        </tr>
        <tr>
            <td>In Match Location:</td>
            {% if p_dict['m_location'] == '%' %}
            <td><input name="location" type="location" value=""></td>
            {% else %}
            <td><input name="location" type="location" value="{{ p_dict['m_location'] }}"></td>
            {% endif %}
        </tr>


        <tr>
            <td><input type="Submit" name="btn" value="Clear Filter"></td>
            <td><input type="Submit" name="btn" value="Submit"></td>

         </tr>
    </table>
</form>
<br/>
<h1>New Results:</h1>
<p>Number of recent results shown:</p>
<p>{{num_results}}</p>
<!-- <p>Query:</p>
<p>{{ query }}</p> -->
<table id="web_monitor2">
    <thead>
        <tr>
            <th>Repo User</th>
            <th>Repo Name</th>
            <th>Time Inserted</th>
            <th>Match Type</th>
            <th>Match String</th>
            <th>Match Line</th>
            <th>Location</th>
            {# <th>Commit Add/Del</th> #}
            <th>Commit Message</th>
            <th>Repo Description</th>
        </tr>
    </thead>
    {% for result in results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4][:64] }}</td>
            <td>{{ result[5] }}</td>
            <td>{{ result[6] }}</td>
            {# <td>{{ result[7] }}</td> #}
            <td>{{ result[8] }}</td>
            <td>{{ result[9] }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}

{% block sidebar %}
{% endblock %}