{% extends "base.html" %}

{% block title %}
GitMAD
{% endblock %}

{% block content %}
<form method="POST">
    <table id="web_monitor">
        <tr>
            <th>Filter:</th><th></th>
        </tr>
        <tr>
            <td>Number of results:</td>
            <td><input name="num_results" type="number" value="100"></td>
        </tr>
        <tr>
            <td>Repo User:</td>
            <td><input name="repo_user" type="text"></td>
        </tr>
        <tr>
            <td>Repo Cloned:</td>
            <td><select name="is_cloned">
                <option value="Any">Any</option>
                {% for item in select_opt %}
                <option value="{{ item }}" >{{ item }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>In Repo Description:</td>
            <td><input name="repo_description" type="text"></td>
        </tr>
        <tr>
            <td>Repo Last Checked (eg. 2018-06-12T19:30):</td>
            <td><input name="repo_checked" type="datetime-local"></td>
        </tr>



        <tr>
            <td></td>
            <td><input type="Submit"></td>
         </tr>
    </table>
</form>
<h2>The 'Repo Last Checked' filter is presently not available.</h2>
<h2>In addition, the above filters cannot yet be chained together</h2>
<br/>
<table id="web_monitor2">
    <thead>
        <tr>
            <th>Repo User</th>
            <th>Repo Name</th>
            <th>Repo ID</th>
            <th>Repo Owner ID</th>
            <th>Repo Last Checked</th>
            <th>Repo Size (MB)</th>
            <th>Repo Cloned</th>
            <th>Repo Description</th>

        </tr>
    </thead>
    {% for result in results %}
        <tr>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[7] }}</td>
            <td>{{ result[4] / 100 }}</td>
            <td>{{ result[5] }}</td>
            <td>{{ result[6] }}</td>

        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}